
tr.clickable{
    cursor: pointer;
}

.table td, .table th {
    padding: .50rem 1rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
td {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
thead{
    background-color: var(--colour-2);
}

tbody{
    background-color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: var(--colour-1);
    color: white;
}


thead th {
    border: 0 !important;
    background-color: transparent !important;
}